<div class="row">


  <div class="col-md-10 col-md-offset-1">

    <h2>Blogs</h1>

      <table class="table table-striped">
        <thead class="thead-default">
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @blogs.each do |blog| %>
            <tr>

              <td>
                <%= blog.title %>
                  <br>
                  <h6>
                    <%= blog.created_at.strftime('%b %d, %Y') %>
                  </h6>
              </td>

              <td>
                <%= raw(blog.content).truncate(200) %>
              </td>

              <td>
                <%=  blog.image %>
              </td>

              <td>
                <%= link_to 'Show', blog %>
              </td>
              <td>
                <%= link_to 'Edit', edit_blog_path(blog) %>
              </td>
              <td>
                <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>

            </tr>

            <% end %>
        </tbody>
      </table>


      <br>

      <%= link_to 'New Blog', new_blog_path %>

  </div>


</div>
