
<div class="row text-center">
    
    <div class="col-md-10 col-md-offset-1 ">
        
        <h1>New Blog</h1>

        <%= render 'form', blog: @blog %>
        
        <%= link_to 'Back', blogs_path %>

        
    </div>
    
    
</div>